<!DOCTYPE html>
<html>

<head>
    <title>Doctor</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme1.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/982494c467.js" crossorigin="anonymous"></script>

    <link href="../css/doctor.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!--Body section-->

<body>
    <!--Header-->
    <header>
        <!--Mobile and tablet-->
        <nav class="head1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />
            </figure>
            <i class="fa fa-bars"></i>
        </nav>

        <!--Desktop-->
        <nav class="head2">


            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />


            <ul>
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Serivices</li>
                <li>About</li>
            </ul>
            <div>
                <button class="btn_white">Login/Sign Up</button>
                <button class="btn_darkblue">Get a Quote</button>
            </div>

        </nav>
    </header>

    <!--For desktop and tablet picture with linear gradient-->
    <section class="hide">
        <h2>Cardiac Surgeon in <span>Delhi</span></h2>

    </section>

    <!--First Section-->
    <section class="bg_white">
        <div class="home_and_sort_flex">
            <h3>Home/Doctor List</h3>
            <select id="cars">
                <option value="volvo">Sort By</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>

        <!--Doctor Image & Appointment-->
        <div class="filter_and_card_grid1">
            <div class="filter">
                <div class="bg_gray">
                    <h4>Filter By</h4>
                </div>

                <div class="location">
                    <div class="flex_for_icon">
                        <h5>Location</h5>
                        <i class="fa fa-search"></i>

                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <h6>+ Show more</h6>
                    </div>


                    <!--Treatment-->
                    <div class="flex_for_icon">
                        <h5>Location</h5>
                        <i class="fa fa-search"></i>

                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <h6>+ Show more</h6>
                    </div>

                    <!--Hospitals-->

                    <div class="flex_for_icon">
                        <h5>Location</h5>
                        <i class="fa fa-search"></i>

                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> Appolo hospital</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> Aiims Hospital</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> G.B Hospital</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>

                        <h6>+ Show more</h6>
                    </div>

                    <!--Years of experience-->

                    <div class="flex_for_icon">
                        <h5>Location</h5>
                        <i class="fa fa-search"></i>

                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> 30+</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> 25+</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> 20+</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> 15+</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> 10+</label><br>

                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> 5+</label><br>

                        <h6>+ Show more</h6>
                    </div>










                </div>
            </div>




            <div id="docinfo">
                <div class="bordergray grid2">
                    <div class="docname">
                        <h3>Deep Verma</h3>
                        <div class="grid_for_tab_and_desktop">
                            <div class="flex_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li>k year of exp</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>

                            <div class="flex_for_icon">
                                <i class="fa fa-map-marker "></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                        </div>

                        <button type="submit" class="btn_darkblue">Book an appointment</button>
                    </div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" />
                </div>


                <!--Second div-->

                <div class="bordergray grid2">
                    <div class="docname">
                        <h3>Subham Sinde</h3>
                        <div class="grid_for_tab_and_desktop">
                            <div class="flex_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li>k year of exp</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>

                            <div class="flex_for_icon">
                                <i class="fa fa-map-marker"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                        </div>


                        <button type="submit" class="btn_darkblue">Book an appointment</button>
                    </div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" />
                </div>

                <!--3rd div-->

                <div class="bordergray grid2">
                    <div class="docname">
                        <h3>Deep Verma</h3>
                        <div class="grid_for_tab_and_desktop">
                            <div class="flex_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li>k year of exp</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>

                            <div class="flex_for_icon">
                                <i class="fa fa-map-marker"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                        </div>

                        <button type="submit" class="btn_darkblue">Book an appointment</button>
                    </div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" />
                </div>

                <!--4th div-->

                <div class="bordergray grid2">
                    <div class="docname">
                        <h3>Deep Verma</h3>
                        <div class="grid_for_tab_and_desktop">
                            <div class="flex_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li>k year of exp</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>

                            <div class="flex_for_icon">
                                <i class="fa fa-map-marker"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                        </div>

                        <button type="submit" class="btn_darkblue">Book an appointment</button>
                    </div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" />
                </div>

                <!--5th div-->

                <div class="bordergray grid2">
                    <div class="docname">
                        <h3>Parkar</h3>
                        <div class="grid_for_tab_and_desktop">
                            <div class="flex_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li>k year of exp</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>

                            <div class="flex_for_icon">
                                <i class="fa fa-map-marker"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                        </div>


                        <button type="submit" class="btn_darkblue">Book an appointment</button>
                    </div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" />
                </div>
                <!--6th Div-->
                <div class="bordergray last grid2">
                    <div class="docname">
                        <h3>Deep Verma</h3>
                        <div class="grid_for_tab_and_desktop">
                            <div class="flex_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li>k year of exp</li>
                                </ul>
                            </div>
                            <div class="flex_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>

                            <div class="flex_for_icon">
                                <i class="fa fa-map-marker"></i>
                                <ul>
                                    <li>k</li>
                                </ul>
                            </div>
                        </div>

                        <button type="submit" class="btn_darkblue">Book an appointment</button>
                    </div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" />
                </div>
            </div>
        </div>
    </section>

    <!--Need Help-->
    <section class="nd_help">
        <div class="nd_help1">
            <h2>Need Help?</h2>
            <p>Just let us know we will happy to assist you</p>
        </div>
        <div class="btn2 nd_help2">
            <button type="submit" class="btn_blue">Submit your enquiry</button>
        </div>
    </section>

    <!--Footer**********************************************************************-->
    <footer>
        <div class="mobileshow">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" />
            </figure>
            <ul class="about">
                <h2>TVASTRA</h2>
                <li>Doctors</li>
                <li>Hospitals</li>
                <li>Treatment</li>
                <li>Other services</li>
                <li>FAQs</li>
                <h2>FOLLOW US</h2>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Google+</li>
                <li>Instagram</li>
            </ul>


            <p class="rights">All Rights Reserved. &#169 tvastra <span>2018</span></p>
        </div>

        <div class="tabshow">


            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" />
            </figure>
            <ul class="about">
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other services</li>
                <li>FAQs</li>
            </ul>
            <div class="social_icon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-pinterest-p"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-instagram"></i>
            </div>
            <p class="rights">All Rights Reserved. &#169 tvastra <span>2018</span></p>

        </div>
    </footer>



</body>

</html>