<footer>
    <figure>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" />
    </figure>
    <ul class="about">
        <li>Doctor</li>
        <li>Hospital</li>
        <li>Treatment</li>
        <li>Other services</li>
        <li>FAQs</li>
    </ul>
    <div class="social_icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p class="rights">All Rights Reserved. &#169 tvastra <span>2018</span></p>
</footer>
