<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme1.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/login.css" rel="stylesheet" type="text/css">
    <link href="../css/otpenter.css" rel="stylesheet" type="text/css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel = "icon" href = 
"https://images.creativemarket.com/0.1.0/ps/2282307/910/607/m1/fpnw/wm0/11-01-.png?1487173609&s=c29fbda5784aaedecbaecaeb6d49039f&fmt=webp" 
        type = "image/x-icon">
</head>

<body>
    <div class="main-body">
        <header>
            <!--Mobile and tablet-->
            <nav class="head1">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />
                </figure>
                <i class="fa fa-bars"></i>
            </nav>

            <!--Desktop-->
            <nav class="head2">


                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />


                <ul>
                    <a href="/doctor">
                        <li>Doctor</li>
                    </a>
                    <a href="/hospital">
                        <li>Hospital</li>
                    </a>
                    <a href="/treatment">
                        <li>Treatment</li>
                    </a>

                    <a href="/aboutUs">
                        <li>About</li>
                    </a>
                </ul>
                <div>

                    <button class="btn_darkblue">Get a Quote</button>
                </div>

            </nav>
        </header>

        <section class="firstsec">
            <div class="login">
                <div class="h2">
                    <h2>Login</h2>
                </div>



                <form method="POST" action="/verifyotp/12345"   class="digit-group" data-group-name="digits" data-autosubmit="false"
                    autocomplete="off" required>
                    <input type="text" id="digit1" name="digit1" data-next="digit2" autofocus/>
                    <input type="text" id="digit2" name="digit2" data-next="digit3" data-previous="digit1" />
                    <input type="text" id="digit3" name="digit3" data-next="digit4" data-previous="digit2" />

                    <input type="text" id="digit4" name="digit4" data-next="digit5" data-previous="digit3" />

                    <button type="submit" class="btn_darkblue">LOGIN
                        <i class='fa fa-arrow-right'></i>
                    </button>


                </form>
                <p>Not registered?<a href="/signup"><span> Sign Up</span></a></p>
            </div>


        </section>

</body>

<script>
    $('.digit-group').find('input').each(function () {
        $(this).attr('maxlength', 1);
        $(this).on('keyup', function (e) {
            var parent = $($(this).parent());

            if (e.keyCode === 8 || e.keyCode === 37) {
                var prev = parent.find('input#' + $(this).data('previous'));

                if (prev.length) {
                    $(prev).select();
                }
            } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                var next = parent.find('input#' + $(this).data('next'));

                if (next.length) {
                    $(next).select();
                } else {
                    if (parent.data('autosubmit')) {
                        parent.submit();
                    }
                }
            }
        });
    });
</script>

</html>