<!DOCTYPE html>
<html>

<head>
    <title>Query Form</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme1.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/queryform.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel = "icon" href = 
"https://images.creativemarket.com/0.1.0/ps/2282307/910/607/m1/fpnw/wm0/11-01-.png?1487173609&s=c29fbda5784aaedecbaecaeb6d49039f&fmt=webp" 
        type = "image/x-icon">
</head>

<body>
    <header>
        <!--Mobile and tablet-->
        <nav class="head1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />
            </figure>
            <i class="fa fa-bars"></i>
        </nav>

        <!--Desktop-->
        <div class="head2-container">
            <nav class="head2">


                <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                        alt="logo" /></a>


                <ul>
                    <a href="/doctor">
                        <li>Doctor</li>
                    </a>
                    <a href="/hospital">
                        <li>Hospital</li>
                    </a>
                    <a href="/treatment">
                        <li>Treatment</li>
                    </a>

                    <a href="/aboutUs">
                        <li>About</li>
                    </a>
                </ul>
                <div>
                    
                    <a href="/getquote"> <button class="btn_darkblue">Get a Quote</button></a>
                    

            </nav>
        </div>
    </header>

    <!--Section-->
    <section class="firstsec">
        <div class="signup">
            <h2>Submit Your Query</h2>
            <hr>
            <form action="./index.html">

                <input class="input_field" placeholder="Enter Name" type="text">


                <input class="input_field" placeholder="Enter Phone Number" type="text">
                <input class="input_field" placeholder="Enter Email" type="text">
                <textarea name="comment" id="comment-box" rows="10" placeholder="Comment here . . ."></textarea>
                <div class="btn">
                    <button type="submit" class="btn_darkblue">S U B M I T</button>
                    <i class='fa fa-arrow-right'></i>
                </div>

            </form>
            <p>Already registered?<a href="./login.html"><span> Login</span></a></p>
        </div>
        
    </section>
    <footer>
        <p>All Rights Reserved. &#169 tvastra <span>2020</span></p>
    </footer>
</body>

</html>