<!DOCTYPE html>
<html>

<head>
    <title>Tvastra Plus</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme1.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/982494c467.js" crossorigin="anonymous"></script>

    <link href="../css/tvastraplus.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!--Header-->
    <header>
        <!--Mobile and tablet-->
        <nav class="head1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />
            </figure>
            <i class="fa fa-bars"></i>
        </nav>

        <!--Desktop-->
        <nav class="head2">


            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />


            <ul>
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Serivices</li>
                <li>About</li>
            </ul>
            <div>
                <button class="btn_white">Login/Sign Up</button>
                <button class="btn_darkblue">Get a Quote</button>
            </div>

        </nav>
    </header>
    <section class="hero-section">
        <div class="container">
            <span id="span">PLUS</span>
            <h2>Healthcare plans for you and your family</h2>
            <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses</p>
        </div>
    </section>
    <main>
        <section class="plan-container">
            <div class="plan">
                <div class="info">
                    <h2>Select a Tvastra Plus Healthcare Plan</h2>
                    <p>All Plus plans are for 4 adults and 2 children</p>
                </div>
                <!--collection of Cards-->
                <div class="card-collection">
                    <div class="basic-card plan-card">
                        <h3>Basic Plan</h3>
                        <div class="details">
                            <ul>
                            <li>Unlimited Consultation with any Speciality</li>
                            <li>20 % Off on prescription medicines</li>
                            <li>20 % off on tests & checkups</li>
                            </ul>
                        </div>
                        <div class="pricing">
                            <h6>₹3,999<span>/year</span></h6>
                            <a href="#">View Plan Details</a>
                            <btn class="btn_blue">Buy Plan</btn>
                        </div>
                    </div>
                    <!--Popular Card-->
                    <div class="advance-card plan-card">
                        <h3>Advance Plan</h3>
                        <div class="details">
                            <ul>
                            <li>Unlimited Consultation with any Speciality</li>
                            <li>20 % Off on prescription medicines</li>
                            <li>20 % off on tests & checkups</li>
                            </ul>
                        </div>
                        <div class="pricing">
                            <h6>₹3,999<span>/year</span></h6>
                            <a href="#">View Plan Details</a>
                            <btn class="btn_blue">Buy Plan</btn>
                        </div>
                    </div>

                    <!--Comprehensive card-->

                    <div class="compre-card plan-card">
                        <h3>Comprehensive  Plan</h3>
                        <div class="details">
                            <ul>
                            <li>Unlimited Consultation with any Speciality</li>
                            <li>20 % Off on prescription medicines</li>
                            <li>20 % off on tests & checkups</li>
                            </ul>
                        </div>
                        <div class="pricing">
                            <h6>₹3,999<span>/year</span></h6>
                            <a href="#">View Plan Details</a>
                            <btn class="btn_blue">Buy Plan</btn>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Rating Section-->
        <section class="rating-class">
            <div class="rating-container">
                <div class="details">
                    <h2>Trusted By 2 Crore+ users every month</h2>
                    <p>Tvastra is the leading healthcare technology company in india. We began in 2009 and today we help 2 crore customer every month</p>
                </div>
                <div class="rating-and-bar">
                    <div class="rating">
                        <h6>4.5</h6>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-alt"></i>
                        </div>
                        <span>1000+ Reviews</span>
                    </div>
                    <div class="bars">
                        <div class="bar-container">
                            <div class="bar-5"></div>
                          </div>
                          <div class="bar-container">
                            <div class="bar-4"></div>
                          </div>
                          <div class="bar-container">
                            <div class="bar-3"></div>
                          </div>
                          <div class="bar-container">
                            <div class="bar-2"></div>
                          </div>
                          <div class="bar-container">
                            <div class="bar-1"></div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
        

</body>
</html>