@import "./theme1.scss";
* {
  box-sizing: border-box;
}
//Header section****************************************************************************//

//Section with background white

.bg_white {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .home_and_sort_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin-bottom: 0;
      font-family: nexa-light;
    }
    form{
      display: flex;
      justify-content: flex-end;
    }
    select {
      
      
      margin-bottom: 0rem;
      background-color: $light_gray;
      color: $dark_blue;
      font-weight: bold;
      width:60%;
    }
    
  }

  //Section for mobile with doctor info
  .bordergray {
    margin-top: 1.5rem;
    border: 1px solid $light_gray;

    text-align: center;
    h3 {
      margin-top: 1rem;
      text-align: left;
      color: $blue;
      &::before {
        content: "";
        background-color: $blue;
        width: 1.8rem;
        height: 0.2rem;
        display: inline-block;
        position: relative;
        margin-bottom: 0.3rem;
        margin-right: 0.2rem;
      }
    }
    .flex_for_icon {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 0.5rem;

      i {
        color: $blue;
        
      }

      li {
        color: $dark_blue;

        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
        line-height: 1.4rem;
      }
    }

    .grid_for_icon {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 0.5rem;

      i {
        color: $blue;
        font-size: 1rem;
      }

      li {
        color: $dark_blue;

        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
        line-height: 1.4rem;
      }
    }
    .btn_darkblue {
      border-radius: 0;
      margin-bottom: 1rem;
    }
    figure {
      height: 25rem;
    
    }

  }
  .last {
    margin-bottom: 0rem;
  }
}

#docinfo{
  h5{
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
  }
}

.dates{
    display: none;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    
    grid-column-gap: 1rem;
    border-bottom:1px solid black;
    padding-bottom: 1rem;
    i{
      color: $blue;
      font-size: 1.6rem;
    }
}
.slots{
  grid-area: slots;
  padding: 1rem;
}
.dates-and-slots{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 1rem;
  
  @media only screen and (min-width:1024px){
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  span{
    font-size: 1.2rem;
    font-family: nexa-bold;
    color: $blue;
  }
}

.timings-and-slots{
  padding-top: 1rem;
  text-align: center;
  display: none;
}
.slot-timings{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li{
  color: $blue;
  margin-right: 1rem;
  font-family: nexa-bold;
  font-size: 1.0rem;
  border:1px solid $blue;
  padding:0.5rem
  }
}
.morning{
  h4{
  font-size: 1.8rem;
  }
}
.afternoon{
  margin-top: 1rem;
  h4{
    margin-bottom: 0.2rem;
    
  }
  ul{
    li{
      color: $blue;
      font-size: 1.3rem;
      margin-bottom: 0;
      font-family: nexa-bold;
    }
  }
}

.filter {
  display: none;
}
.grid_for_tab_and_desktop {
  padding-bottom: 1rem;
  margin-left: 0.6rem;
}

//pagination Section

.pagination{
  text-align: center;
  display: flex;
  a{
    padding: 0.5rem 1rem;
    border:1px solid $blue;
    color: $white;
    background-color: $blue;
    margin-right: 1rem;
    &:hover{
      background-color: $white;
      color: $blue;
    }
    
  }
}

//footer******************************************************
/*footer*/
footer {
  padding: 1.5rem 0.8rem;
  background-color: #021433;
  text-align: center;
  figure {
    padding: 0rem 5rem 0rem 5rem;
  }
  .about {
    li {
      font-weight: bold;
    }
    h2 {
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      color: $white;
    }
  }

  p {
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  p span {
    font-size: 1.2rem;
  }
}
.hide {
  display: none;
}
.tabshow {
  display: none;
}

//Tablet view

@media only screen and(min-width:768px) and (max-width: 1024px) {
  
  .hide {
    display: block;
    height: 30vh;
    padding: 0;
    background-image: linear-gradient(rgba(170, 198, 222, 0.8)),
      url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      position: absolute;
      top: 22vh;
      margin-left: 1.5rem;
      font-family: nexa-light;
      span {
        border-bottom: 1px solid $dark_blue;
        font-family: nexa-bold;
      }
    }
  }

  //home and sort by portion

  .bg_white .home_and_sort_flex select {
    width: 15%;
  }
  .bg_white{
    .home_and_sort_flex{
      h3{
        color: $gray;
        font-size: 1.6rem;
        
      }
    }
  }

  //Location and search part
  label{
    color: $gray;
  }
  .location {
    h5{
      margin:0;
      font-size: 1.2rem;
    }
    
    .flex_for_icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      margin: 1rem 0rem 0.5rem 1rem;

      i{
        color: $blue;
        
        &::after {
        content: "";
        background: $light_gray;
        width: 1.3rem;
        height: 0.2rem;
        display: inline-block;
        position: relative;
        margin-left: 0.2rem;
        bottom: 0.4rem;
      }
    }
    }
  }
  //filter and card grid
  .filter_and_card_grid1 {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    grid-column-gap: 1rem;
    .filter {
      display: block;
      margin-top: 1.4rem;
      .bg_gray {
        background-color: #cccccc;
        padding: 0.2rem;
        padding-left: 0.5rem;
        h4 {
          margin-bottom: 0;
          font-size: 1.3rem;
          margin-top: 3px;
        }
      }
    }
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-column-gap: 1rem;
  }
  .bg_white {
    .bordergray {
      figure {
        height: 18rem;
      }
    }
  }
  //inside card
  .bg_white .bordergray {
    h3 {
      margin-bottom: 0;
    }
    .grid_for_icon{
      grid-column-gap: 0.7rem;
      align-items: center;
      li{
        margin-bottom: 0;
        align-self: center;
        margin-top:6px;
        
      }
      i{
        font-size: 1rem;
      }
    }
  }
  .grid_for_tab_and_desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1.8rem;
    padding-top: 1rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.7rem;
  }

  //checkbox
  .checkbox {
    border-bottom: 1px solid $light_gray;
    margin-left: 1rem;
    input {
      width: auto;
      margin: 0;
      margin-right: 0.5rem;
    }
    h6 {
      font-size: 1rem;
      color: $blue;
    }
    label{
      line-height: 1.5rem;
    }
  }

  //footer section

  .mobileshow {
    display: none;
  }
 

  .tabshow {
    
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 0.5rem;
    grid-template-areas:
      "about figure"
      "rights social_icon";
  }

  //footer

  footer {
    background-color: $white;
    border-bottom: 3px solid $light_blue;
    display: block;
  }
  footer figure {
    grid-area: figure;
    width: 22vw;
    padding: 0rem 0rem;
    display: block;
    margin: auto 0rem 0rem auto;
  }
  footer figure image {
    width: 100%;
  }
  footer .about {
    grid-area: about;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .about li {
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
    color: $dark_blue;
    font-weight: normal;
  }
  footer .rights {
    grid-area: rights;
    color: $dark_blue;
  }
  footer .social_icon {
    grid-area: social_icon;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .social_icon i {
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1.2rem;
    margin-left: auto;
    color: $dark_blue;
  }
  footer p {
    display: block;
    margin: auto auto auto 0;
    font-size: 1.2rem;
  }
}

//Desktop view
@media only screen and(min-width:1024px) {
 
  #docinfo{
    position: relative;
    h5{
      position: absolute;
      top:10rem;
      left:15rem;
      font-size: 3rem;
    }
  }
  
  .bg_white{
    .home_and_sort_flex{
      h3{
        color: $gray;
        font-size: 1.5rem;
        
      }
    }
  }
  
  //Cardiac surgeon at delhi

  .hide {
    display: block;
    height: 20rem;
    padding: 0;
    background-image: linear-gradient(rgba(170, 198, 222, 0.8)),
      url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      position: absolute;
      top: 14rem;
      margin-left: 4rem;
      font-family: nexa-light;
      span {
        border-bottom: 1px solid $dark_blue;
        font-family: nexa-bold;
      }
    }
  }

  //Filter and card portion divided into grid
  .filter_and_card_grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem;
    .filter {
      display: block;
      margin-top: 1.4rem;
      
      .bg_gray{
        background-color: $light_gray;
      h4 {
        margin:0;
        margin-left: 1rem;
        padding: 0.8rem 0rem;
      }
    }
    }
  }

  //Inside filter location with search bar
  .location {
    
    .flex_for_icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1.0rem;
      margin-top: 1rem;
      margin-bottom: 0.4rem;
      i{
        color: $blue;
        font-size: 1rem;
      }
      i::after {
        content: "";
        background: $light_gray;
        width: 1.2rem;
        height: 0.15rem;
        display: inline-block;
        position: relative;
        margin-left: 1rem;
        bottom: 0.5rem;
      }
      h5{
        margin-bottom: 0;
        font-size: 1.3rem;
      }
    }
  }
  .grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: 
    "docname figure"
    "slots slots";
  }


  //inside card
  .bg_white {
    padding-left: 4rem;
    padding-right: 4rem;
    .bordergray {
      figure {
        height: 20rem;
        grid-area: figure;
      }
    }
  }

  .grid_for_tab_and_desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-top: 2rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  //Inside card
  .bg_white {
    .bordergray {
      text-align: left;
      .docname {
        padding: 2rem 0;
        grid-area: docname;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.8rem;
        cursor: pointer;
      }

      .flex_for_icon {
        i {
          margin-left: 0;
        }
      }
      .btn_darkblue {
        margin: 0;
        margin-left: 2rem;
        position: relative;
        
        bottom: 0;
        
      }
    }
  }

  //checkbox
  .checkbox {
    border-bottom: 1px solid $light_gray;
    margin-left: 1rem;
    h6{
      margin-top: 0.4rem;
      color: $blue;
      font-size: 1.0rem;
    }
    input {
      width: auto;
      margin: 0;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    label{
      line-height: 1.5rem;
      cursor: pointer;
    }
  }

  

  //footer
  footer {
    padding: 0;
    color: #ffffff;
    display: block;
  }

  .mobileshow {
    display: none;
  }
  

  .tabshow {
    display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "about figure"
  "rights social_icon";
  background-color: white;
  padding:2rem 4rem;
  border-bottom: 3px solid #0099ff;

  }
  .tabshow figure {
    grid-area: figure;
  width:11rem;
  padding:1rem 0rem;
  display: block;
  margin-left: auto;
  margin-right: 0rem;
  }
  .tabshow figure image {
    width: 100%;
  }
  .tabshow .about {
    grid-area: about;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tabshow .about li {
    color:rgb(0, 0, 7);
  margin-right: 0.9rem;
  font-size: 1.2rem;
  }
  .tabshow .rights {
    grid-area: rights;
  color: black;
  display:block;
  margin:auto auto auto 0;
  font-size: 1.2rem;
  }
  .tabshow .social_icon {
    grid-area:social_icon;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 0rem;
  }
  .tabshow .social_icon i {
    padding:0rem 0rem 0rem 0.8rem;
  font-size: 1.3rem;
  color: $dark_blue;
  margin-left: 0.5rem;
  }


  .notdisplay{
    display: none;
  }
  .activeslotnum{
    cursor: pointer;
  }
}
