@import "./theme1.scss";
.report-details{
    @media only screen and (min-width:1024px)
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0.4rem 1rem;
        border:1px solid $blue;
    }
    .btn_blue{
        @media only screen and (min-width:1024px){
            margin:0;
            border-radius: 0;
        }
    }
    h4{
        margin: 0;
        color: $blue;
    }
}
.report{
    h6{
        margin: 0;
        line-height: 1.7rem;
    }
}

.addphoto{
    display: flex;
    align-items: center;
    color: $blue;
    label{
        font-size: 1.5rem;
        margin: 0;
        margin-top: 4px;
        color: $blue;
    }
    i{
        font-size: 1.1rem;
        margin-right: 1rem;
    }
}

#files{
    display: none;
}


.imageThumb {
    max-height: 50px;
    height: 50px;
    border: 2px solid $blue;
    padding: 1px;
    cursor: pointer;
    max-width: 140px;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .remove {
    display: block;
    background:white;
    border: 1px solid $blue;
    color:$blue;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
  }
  .remove:hover {
    background: $blue;
    color: white;
  }

  input[type="file"] {
    display: block;
  }

  .image{
      display: flex;
      margin-bottom: 1.8rem;
  }
  .image-and-label{
      border-bottom: 1px solid $blue;
  }

  .create-schedule{
      @media only screen and (min-width:1024px){
          width: 40rem;
          max-height: 50rem;
      }
  }

  .medical-details{
    @media only screen and (min-width:1024px){
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
  }

  .checkbox{
      display: flex;
      align-items: center;
      input[type="radio"]{
        width: auto;
        margin-bottom: 0;
        margin-right: 1rem;
      }
      label{
          font-family: nexa-bold;
          margin-top: 4.5px;
      }
  }
  .checkboxes{
      padding-bottom: 1rem;
  }
  .action-buttons{
      .btn_blue{
          border-radius: 0;
      }
      .btn_darkblue{
          border-radius: 0;
      }
  }

  .text-button{
      h2{
          font-size: 1.3rem;
      @media only screen and (min-width:1024px){
          font-size: 2.3rem;
      }
    }
    .btn_blue{
        font-size: 1rem;
        @media only screen and (min-width:1024px){
            font-size: 1.3rem;
        }
    }

  }