@import "./theme1.scss";

.detailsof{
    h4{
        margin: 0;
        font-size: 1.8rem;
        color: $blue;
    }
    h6{
        margin: 0;
        font-size: 1.2rem;
    }
}
.grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $blue;
    @media only screen and (min-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-column-gap: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $blue;
    }
}

.date{
    max-width: 9rem;
    background-color: #eeebeb;
    max-width: 9rem;
    h4{
        font-size: 1.2rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    @media only screen and (min-width:1024px){
        max-width: 9rem;
        h4{
            margin: 0;
            padding: 1.3rem 0.1rem;
            text-align: center;
            background-color: #eeebeb;
        }
    }
}

.actionbuttons{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    @media only screen and (min-width:1024px){
        margin:0
    }
    .btn_blue{
        width: 100%;
        @media only screen and (min-width:1024px){
            font-size: 1.1rem;
            width:100%;
            border-radius: 0;
        }
    }

    .btn_darkblue{
        @media only screen and (min-width:1024px){
            font-size: 1.1rem;
            width:100%;
            border-radius: 0;
        }
    }
}
.status{
        padding: 0.1rem 0.5rem;
        background: #eeebeb;
        max-width:fit-content;
        text-align: center;
        
    @media only screen and (min-width:1024px){
        padding: 0.1rem 0.5rem;
        background: #eeebeb;
        max-width:fit-content;
        text-align: center;
    }
}

.completed{
    background: rgb(0,100,0);
    color: white;
}

.headings{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid $blue;
    text-align: center;
    @media only screen and (min-width:1024px){
        text-align: left;
    }
    h3{
        margin: 0;
        font-size: 1.6rem;
        @media only screen and (min-width:1024px){
            font-size: 2.2rem;
            
        }
    }
    
}


.grid-for-dashboard{
    grid-column-gap: 0.5rem;
    margin-bottom: 1rem;
}
.settings{
   
    @media only screen and (min-width:1024px){
        margin: 0rem;
    }
}
.main-section{
    padding: 0.8rem;
    @media only screen and (min-width:1024px){
        padding: 1rem;
    }
}
.center{
    text-align: center;
    color:$blue;
    @media only screen and (min-width:1024px){
        text-align: left;
    }
}

.grid-for-dashboard h3 {
    font-size: 1.5rem;
}
