@import './theme1.scss';

.main-section{
    border-top: 1px solid $light_gray;
    background-color: #eeebeb;
    @media only screen and (min-width:1024px){
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-column-gap: 2rem;
        padding:1rem;
    }
}
.desktop{
    display: none;
    @media only screen and (min-width:1024px){
        display: block;
    }
}
.tagify {
    width: 100%;
max-width: 700px;
padding:0.3rem;
text-transform: capitalize;
margin-top: 0.5rem;
    --tags-border-color: #DDD;
    --tag-bg: #8fcaf1;
    --tag-hover: #D3E2E2;
    --tag-text-color: #021433;
    --tag-text-color--edit:#021433;
    --tag-pad: 0.3em 0.5em;
    --tag-inset-shadow-size: 1.1em;
    --tag-invalid-color: #D39494;
    --tag-invalid-bg: rgba(211, 148, 148, 0.5);
    --tag-remove-bg: rgba(211, 148, 148, 0.3);
    --tag-remove-btn-bg: none;
    --tag-remove-btn-bg--hover: #c77777;
    --tag--min-width: 1ch;
    --tag--max-width: auto;
    --loader-size: .8em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border: 1px solid var(--tags-border-color);
    padding: 0;
    line-height: 1.1;
    cursor: text;
    position: relative;
    transition: .1s;
}

.grid-for-dashboard{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 1rem;
    @media only screen and (min-width:1024px){
        padding-left: 1rem;
    }
    
    h3{
        margin: 0;
        margin-top: 6px;
        font-size: 1.7rem;
    }
    i{
        font-size: 2rem;
    }
}

.form-div{
    background: $white;
    
}


.dashboardmob{
    display: none;
    position: absolute;
    background: white;
    top: 4.2rem;
    height: 100vh;
    left: 0;
    width: 50%;
    ul{
        margin:1rem;
    }
    li{
        color: $blue;
        font-weight: bold;
    }
    i{
        position: absolute;
        right: 1rem;
        top: 0.5rem;
    }
}

.medical-record{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 1rem;
    @media only screen and (min-width:1024px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        margin: 0;
    }
    .btn_blue{
        margin: 0;
        
    }
}
.profile-photo-name{
    h4{
    margin: 0;
    }
}
.photo-and-text{
    display: grid;
    grid-template-columns: 0.1fr auto;
    grid-column-gap: 1rem;
    figure{
        width:5rem;
        margin: 0;
    }
    input{
        padding: 0;
        display: none;
    }
    .text{
        p{
        margin: 0;
        }
    }
    @media only screen and (min-width:1024px){
        display: grid;
        grid-template-columns: 0.1fr 14rem;
        align-items: center;
    }
}

.wrap{
    padding: 1rem;
    border-top:1px solid $light_gray;
    @media only screen and (min-width:768px) and (max-width:1024px){
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        grid-column-gap: 1rem;
    }
    @media only screen and (min-width:1024px){
        display: flex;
        align-items: center;


    }
    .label_input{
        @media only screen and (min-width:1024px){
            margin-left: 5rem;
    
    
        } 
    }
}
.details{
    padding:1rem;
    border-top: 1px solid $light_gray;
    @media only screen and (min-width:768px) and (max-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    @media only screen and (min-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

.addr-details{
    padding:1rem;
    border-top: 1px solid $light_gray;
    @media only screen and (min-width:768px) and (max-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    @media only screen and  (min-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

form{
    .label_input{
        input{
            padding:0.3rem;
            margin-top: 7.5px;
        }
    }
}
.doc-details{
    padding:1rem;
    border-top:1px solid $light_gray;
    @media only screen and (min-width:768px) and (max-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
    @media only screen and(min-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

.mobile-tab{
    @media only screen and (min-width:1024px){
        display: none;
    }
}

.active-btn{
        background-color: $blue;
        color: white;
        padding-left: 1rem;
        h3{
            color: $white;
            cursor: pointer;
        }
        cursor: pointer;

        display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 1rem;
    @media only screen and (min-width:1024px){
        padding-left: 1rem;
    }
    
    h3{
        margin: 0;
        margin-top: 6px;
        font-size: 1.5rem;
    }
    i{
        font-size: 1.3rem;
    }
}
.inactive-btn{
    color: $blue;
    cursor: pointer;
    padding-left: 1rem;
    h3{
        color: $blue;
        cursor: pointer;
    }
    &:hover{
        background-color: $blue;
        color: white;
        h3{
            color: $white;
        }
    }
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 1rem;
    @media only screen and (min-width:1024px){
        padding-left: 1rem;
    }
    
    h3{
        margin: 0;
        margin-top: 6px;
        font-size: 1.5rem;
    }
    i{
        font-size: 1.3rem;
    }
}
.textarea-div{
    padding:1rem;
}

.schedule{
    padding:1rem;
}
.text-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        margin:0;
        font-size: 1.5rem;
    }
    .btn_blue{
        margin:0;
        
    }
}

.card{
    padding:1rem;
    border:1px solid $blue;
    margin-top: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    h3{
        margin:0; 
    }
    .hospital-time{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2rem;
        @media only screen and (min-width:1024px){
            display: block;
            margin-top: 0;
        }
        h3{
            margin:0;
            @media only screen and (min-width:1024px){
                font-size: 1.8rem;
            }
        }
        span{
            font-size: 1.4rem;
            font-weight: bold;
            color: $dark_blue;
        }
    }
    
}

.buttons{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1rem;
    grid-column-gap: 1rem;
    .btn_blue{
        margin: 0;
        font-size: 0.8rem;
        font-family: nexa-bold;
        @media only screen and (min-width:1024px){
            font-size: 1.3rem;
        }
    }
    .btn_darkblue{
        font-size: 0.8rem;
        font-family: nexa-bold;
        @media only screen and (min-width:1024px){
            font-size: 1.3rem;
        }
    }
    input{
        margin-bottom: 0;
    }
}

.timings{
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-column-gap: 0.4rem;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid $blue;
    span{
        color: $blue;
        font-size: 1.2rem;
    }
    input{
        margin-bottom: 0;
    }

    @media only screen and (min-width:1024px){
        margin-right: 0.5rem;
    }
}
.timings-and-slots{
    display: flex;
    flex-wrap: wrap;
    

}
.hide{
    display: none;
}
.right-margin{
    margin-right: 0.5rem;
}

.row-for-desktop{
    @media only screen and(min-width:1024px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



//popup
.popup{
    display: none;
    position: fixed;

    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
    
}

.create-schedule{
    background-color: white;
    
    
    padding: 1rem;
    top:5rem;
    max-width: 23rem;
    @media only screen and (min-width:1024px){
    height: auto;
    width: 50rem;
    top:2rem;
    max-width: 50rem;
    }
    text-align: center;
    align-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border:4px solid $blue;

}
.heading{
    
    h3{
        margin:0;
        font-size: 1.8rem;
    }
}

.scroll{
    width: 100%;
    overflow-y: scroll;
    border: 1px solid $dark_gray;
    padding-left:1rem;
    margin-bottom: 0.5rem;
    -webkit-appearance: none;
    background: white;
    option{
        color: black;
        font-weight: 600;
        padding:0.3rem;
        margin-top: 0.2rem;
    }
}

.schedule-details{
    text-align: left;
    label{
        font-weight: 600;
        
    }
}

.action-buttons{
    display: flex;
    .btn_blue{
        margin: 0;
        margin-right: 0.5rem;
    }
}
.time{
    z-index: 3;
}

//for add schedule page
