@import "./theme1.scss";
.images{
    display: flex;
}
.records-pic{
    width:10rem;
    margin: 0;
    margin-right: 1rem;
}

.delete{
    position: absolute;
    top:0.3rem;
    right:1.2rem;
    color: $white;
    font-size: 1.2rem;
    cursor: pointer;
}
.formshow{
    position: relative;
}