@import "./theme1.scss";
//Header section****************************************************************************//

/*header*/
header {
  padding: 1rem 1rem;
}
.head1 {
  display: flex;
  flex-direction: row;
}
.head2 {
  display: none;
}
.head1 {
  figure {
    width: 9rem;
    margin: 0.2rem 0rem;
  }
}
.head1 {
  i {
    justify-self: end;
    align-self: center;
  }
}

//Header Section Complete*************************************************

//Inside Section division Contact Us
section {
  padding: 0;
}
.contactus {
  position: relative;
  text-align: center;
  figure{
      height: 15rem;
  }
  .contactus_and_li_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2{
      color:$white;
    }
  }
}

//Map section
.map{
  padding: 1.5rem 1rem;
  iframe{
    width:100%;
    height:20rem;
  }
}
//Inside Address Book
.addressbook{
  padding: 1.5rem 2rem;
.grid_for_icon {
  display: grid;
  grid-template-columns: 1.2rem 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;

  margin-bottom: 1rem;

  i {
    color: $blue;
    font-size: 2rem;
  }

  li {
    margin-bottom: 0;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5rem;
    color:$dark_blue;
    line-height: 2rem;
    
  }
  .span{
    font-weight: 900;
  }
}
}

//QueryForm
.queryform{
  background-color: $light_blue;
  padding: 2rem 1rem;
  text-align: right;
  .btn_blue{
    border-radius: 0;
  }
}

//Footer

/*footer*/
footer{
  padding:1.5rem 0.8rem;
  background-color: #021433;
  text-align: center;
  
}
footer .about li{
  margin-bottom: 1rem;
}
footer figure{
  padding:0rem 5.0rem 2rem 5.0rem;
  
}
footer h4{
  color:#ffffff;
  font-family: nexa-light;
  margin:0rem 0rem;
  padding-bottom: 1.3rem;
  letter-spacing: 0.2rem;   
}
footer .social_icon i{
  color: #ffffff;
  padding:0rem 1.2rem 0rem 1.2rem;
  size:0.5rem;
}
footer p{
  color:#ffffff;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
footer p span{
  font-size: 1.2rem;
}

@media only screen and(min-width:768px) and (max-width: 1024px){
  //Map section
.map{
  padding: 1.5rem 2rem;
}
.addressbook{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5rem; 
}

.input_in_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

 /*footer*/ //Footer Section    ++++++++++++++++++++++++++++++++++++++++++
 footer{
  padding:1.8rem 2.2rem;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "about figure"
  "rights social_icon";
  background-color: #ffffff;
  figure{
    grid-area: figure;
    width:22vw;
    padding:0rem 0rem;
    display: block;
    margin:auto 0rem 1.2rem auto;
    
  }
  .about{
    grid-area: about;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li{
      color:white;
      font-size: 1.1rem;
      color:rgb(0, 0, 7);
    }
  }
  .rights{
    grid-area: rights;
    color: black;
  }
  .social_icon{
    grid-area:social_icon;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    i{
      padding:0rem 0rem 0rem 0rem;
      font-size: 1.2rem;
      margin-left: auto;
      color: black;
    }
  }
  p{
    display:block;
    margin:auto auto auto 0;
    font-size: 1.2rem;
  }

}
}

//Desktop Version++++++++++++++++++++++++++

@media only screen and(min-width:1024px){
  /*header*/
  header {
   padding: 1rem 3rem;
 }
 .head1 {
   display: none;
 }
 .head2 {
   display: grid;
   grid-template-columns: 1fr 2fr 1.5fr;
   align-self: center;
   justify-content: center;
   img {
     width: 10rem;
     height: 100%;
     margin-top: 0rem;
     padding: 1rem 0rem;
   }
   ul {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-top: 1rem;
     li {
       color: black;
       margin-left: 2rem;
       font-weight: 800;
       font-size: 1rem;
       margin-bottom: 0rem;
     }
   }
   div {
     display: flex;
     justify-content: flex-end;
     button {
       font-size: 1rem;
     }
   }
   .btn_darkblue {
     margin-top: 0rem;
     border-radius: 0.5rem;
     padding: 0.9rem 2rem;
     margin: 0rem 0rem !important;
   }
   .btn_white {
     padding: 0.9rem 2rem;
     border-color: black;
     color: black;
     margin-right: 0.5rem;
   }
 }
 
 //Contact Us and image section

 .contactus{
   text-align: left;
   
   .contactus_and_li_wrapper{
     top:50%;
     left:12%;
     h2{
       margin-left: 0;
     }
     
   }
 }

  //Map section
.map{
  padding: 1.5rem 3rem;
}

//Grid for addressbook and form
.grid_for_addressbook_and_form{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding:1rem 3rem 3rem;
  border-bottom: 1px solid $light_gray;
  .addressbook{
    padding: 0;
  }
  .queryform{
    
    .input_in_grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
    }
  }
}

//Footer Section

 /*footer*/
 footer{
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "about figure"
  "rights social_icon";
  background-color: white;
  padding:2rem 4rem;
  border-bottom: 3px solid #0099ff;

}
footer figure{
  grid-area: figure;
  width:11rem;
  padding:1rem 0rem;
  display: block;
  margin-left: auto;
  margin-right: 0rem;
  
}
footer figure image{
  width:100%;
}
footer .about{
  grid-area: about;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .about li{
  color:rgb(0, 0, 7);
  margin-right: 0.9rem;
  font-size: 1.4rem;
}
footer .rights{
  grid-area: rights;
  color: black;
  display:block;
  margin:auto auto auto 0;
  font-size: 1.2rem;
}
footer .social_icon{
  grid-area:social_icon;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 0rem;
}
footer .social_icon i{
  padding:0rem 0rem 0rem 0.8rem;
  font-size: 1.8rem;
  color: black;
  margin-left: 1rem;
  
}
}


