@import "./theme1.scss";
//Header section****************************************************************************//


//Inside Section division About Doctor
.about_doctor_section {
  padding: 0;
}
.about {
  position: relative;
  text-align: center;
  figure {
    height: 15rem;
  }
  .about_and_li_wrapper {
    position: absolute;
    top: 35%;
    left: 2rem;

    h2 {
      color: $white;
    }
  }
}

//Card Section & card Division
.card {
  border: 1px solid $light_gray;
  text-align: center;
}
.fig-and-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  .btn_darkblue {
    border-radius: 0;
    width:100%;
    margin-top: 0.5rem;
  }
}

.name-and-description {
  margin-top: 1rem;
  border-bottom: 2px dotted $light_gray;

  h2 {
    text-align: left;
    color: $blue;
    &::before {
      content: "";
      background-color: #167ddd;
      width: 2.5rem;
      height: 0.2rem;
      display: inline-block;
      position: relative;
      margin-bottom: 0.3rem;
      margin-right: 0.2rem;
    }
  }
  p {
    padding: 1rem;
    margin: 0;
  }
}

//List Items section
.list-items {
  padding: 0 1rem 1.3rem;
  text-align: left;
  .icons-and-list {
    cursor: pointer;
    display: grid;
    grid-template-columns: 2.5rem 5fr auto;
    color: $blue;
    align-items: center;
    border-bottom: 2px dotted $light_gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
    i {
      font-size: 1.5rem;
    }
    li {
      color: $blue;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-family: nexa-bold;
      margin-top: 4px;
    }
    .round-border {
      background-color: $light_blue;
      border-radius: 100%;
      padding: 0.1rem 0.3rem;
    }
  }
  p {
    margin-top: 0;
    background-color: $background-for-faq;
    margin-bottom: 0;
    padding: 0.8rem;
  }
  .inactive {
    display: none;
  }
}

//Need Help Section

.nd_help {
  background-color: #94bedd;
  text-align: center;
  h2 {
    color: white;
  }
}

.nd_help2 .btn_blue {
  margin-bottom: 0rem;
}



//Tablet version
@media only screen and(min-width:768px) and (max-width: 1024px) {
  header {
    padding: 1.8rem 1.5rem;
    i {
      margin-right: 0;
    }
  }
  .about {
    .about_and_li_wrapper {
      left: 12rem;
    }
  }
  .card {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-areas: "left right";
    .left-part {
      grid-area: left;
      .list-items{
        padding-left: 1.5rem;
      }
    }
    .right-part {
      grid-area: right;
      margin-top: 1.5rem;
    }
    .name-and-description {
      p {
        text-align: left;
        padding-left:1.5rem;
      }
      h2{
        &::before{
          width: 1.8rem;
        }
      }
    }
  }

}



//Desktop View
@media only screen and(min-width:1024px){
  section{
    padding-right: 4rem;
    padding-left: 4rem;
  }
//About John nishon
   .about {
    .about_and_li_wrapper {
      left: 0;
      text-align: left;
      margin-left: 4rem;
      h2{
        margin-left: 0;
      }
    }
  }

  //Card Section

  .card {
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    grid-template-areas: "left right";
    .left-part {
      grid-area: left;
    }
    .right-part {
      grid-area: right;
      margin-top: 1.0rem;
      
    }
    .name-and-description {
      p {
        text-align: left;
      }
      h2{
        margin-left: 0;
        font-size: 2rem;
      }
    }
  }


  .name-and-description{
    p{
      padding-left: 2.8rem;
    }
  }

  .list-items{
    padding-left: 2.8rem;
    .icons-and-list{
      li{
        font-size: 1.2rem;
      }
    }
  }

  //Need help section

   //Need help

  /*need help*/
  .nd_help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    h2 {
      margin-left: 0;
    }
    p {
      text-align: left;
    }
  }
  
  .nd_help2 {
    text-align: right;

    margin-top: auto;
    margin-bottom: auto;
  }
  .nd_help1 {
    margin-top: auto;
    margin-bottom: auto;
  }


  



 
}


