@import "./theme1.scss";
//Header section****************************************************************************//

/*header*/
header {
  padding: 0.8rem 0.8rem;
}
.head1 {
  display: flex;
  flex-direction: row;
}
.head2 {
  display: none;
}
.head1 {
  figure {
    width: 9rem;
    margin: 0.2rem 0rem;
  }
}
.head1 {
  i {
    justify-self: end;
    align-self: center;
  }
}

//Header Section Complete*************************************************
//Inside Section division About faq
.about_faq_section {
  padding: 0;
}
.about {
  position: relative;
  text-align: center;
  figure {
    height: 15rem;
  }
  .about_and_li_wrapper {
    position: absolute;
    top: 35%;
    left: 35%;

    h2 {
      color: $white;
    }
  }
}

//List Items section
.list-items {
  text-align: left;
  .icons-and-list {
    display: grid;
    grid-template-columns: 5fr auto;
    color: $blue;
    align-items: center;

    padding-bottom: 1rem;
    padding-top: 1rem;

    li {
      color: $blue;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 4px;
      letter-spacing: 1px;
    }
    .round-border {
      background-color: $light_blue;
      border-radius: 100%;
      padding: 0.1rem 0.3rem;
    }
  }
  p {
    margin-top: 0;
    background-color: $light_blue;
    margin-bottom: 0;
    padding: 0.8rem;
  }
  .inactive {
    display: none;
  }
}

//Need Help Section

.nd_help {
  background-color: #94bedd;
  text-align: center;
  h2 {
    color: white;
  }
}

.nd_help2 .btn_blue {
  margin-bottom: 0rem;
}

//Footer

/*footer*/
footer {
  padding: 1.5rem 0.8rem;
  background-color: #021433;
  text-align: center;
}
footer .about li {
  margin-bottom: 1rem;
}
footer figure {
  padding: 0rem 5rem 2rem 5rem;
}
footer h4 {
  color: #ffffff;
  font-family: nexa-light;
  margin: 0rem 0rem;
  padding-bottom: 1.3rem;
  letter-spacing: 0.2rem;
}
footer .social_icon i {
  color: #ffffff;
  padding: 0rem 1.2rem 0rem 1.2rem;
  size: 0.5rem;
}
footer p {
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
footer p span {
  font-size: 1.2rem;
}

@media only screen and(min-width:768px) and (max-width: 1024px) {
  header {
    padding: 1.8rem 1.5rem;
    i {
      margin-right: 0;
    }
  }
  .about {
    .about_and_li_wrapper {
      left: 42%;
    }
  }

  /*footer*/ //Footer Section    ++++++++++++++++++++++++++++++++++++++++++
  footer {
    padding: 1.8rem 2.2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "about figure"
      "rights social_icon";
    background-color: #ffffff;
    figure {
      grid-area: figure;
      width: 22vw;
      padding: 0rem 0rem;
      display: block;
      margin: auto 0rem 1.2rem auto;
    }
    .about {
      grid-area: about;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      li {
        color: white;
        font-size: 1.1rem;
        color: rgb(0, 0, 7);
      }
    }
    .rights {
      grid-area: rights;
      color: black;
    }
    .social_icon {
      grid-area: social_icon;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      i {
        padding: 0rem 0rem 0rem 0rem;
        font-size: 1.2rem;
        margin-left: auto;
        color: black;
      }
    }
    p {
      display: block;
      margin: auto auto auto 0;
      font-size: 1.2rem;
    }
  }
}

//Desktop View
@media only screen and(min-width:1024px) {
  /*header*/
  header {
    padding: 1rem 3rem;
  }
  .head1 {
    display: none;
  }
  .head2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    align-self: center;
    justify-content: center;
    img {
      width: 10rem;
      height: 100%;
      margin-top: 0rem;
      padding: 1rem 0rem;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 1rem;
      li {
        color: black;
        margin-left: 2rem;
        font-weight: 800;
        font-size: 1rem;
        margin-bottom: 0rem;
      }
    }
    div {
      display: flex;
      justify-content: flex-end;
      button {
        font-size: 1rem;
      }
    }
    .btn_darkblue {
      margin-top: 0rem;
      border-radius: 0.5rem;
      padding: 0.9rem 2rem;
      margin: 0rem 0rem !important;
    }
    .btn_white {
      padding: 0.9rem 2rem;
      border-color: black;
      color: black;
      margin-right: 0.5rem;
    }
  }

  //About John nishon
  .about {
    .about_and_li_wrapper {
      left: 0;
      text-align: left;
      li {
        margin-left: 3rem;
      }
    }
  }

  //Need help section

  //Need help

  /*need help*/
  .nd_help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    h2 {
      margin-left: 0;
    }
    p {
      text-align: left;
    }
  }

  .nd_help2 {
    text-align: right;

    margin-top: auto;
    margin-bottom: auto;
  }
  .nd_help1 {
    margin-top: auto;
    margin-bottom: auto;
  }

  //Footer Section

  /*footer*/
  footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "about figure"
      "rights social_icon";
    background-color: white;
    padding: 2rem 4rem;
    border-bottom: 3px solid #0099ff;
  }
  footer figure {
    grid-area: figure;
    width: 11rem;
    padding: 1rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: 0rem;
  }
  footer figure image {
    width: 100%;
  }
  footer .about {
    grid-area: about;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .about li {
    color: rgb(0, 0, 7);
    margin-right: 0.9rem;
    font-size: 1.4rem;
  }
  footer .rights {
    grid-area: rights;
    color: black;
    display: block;
    margin: auto auto auto 0;
    font-size: 1.2rem;
  }
  footer .social_icon {
    grid-area: social_icon;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 0rem;
  }
  footer .social_icon i {
    padding: 0rem 0rem 0rem 0.8rem;
    font-size: 1.8rem;
    color: black;
    margin-left: 1rem;
  }
}
