@import "./theme1.scss";
*{
    box-sizing: border-box;
}
/*header*/
header{
    padding: 0.8rem 0.8rem;    
}
.head1{
    display: flex;
    flex-direction: row;
}
.head2{
    display:none;
}
.head1 {
    figure{
    width: 9rem;
    margin: 0.2rem 0rem;
    }
}
.head1 {
    i{
    justify-self: end;
    align-self: center;
    margin-right: 0.6rem;
    }

}
/*section*/
.firstsec{
    background-color: $background;
    text-align: center;
    .signup{
        background-color: $white;
        text-align: center;
        

        h2{
            margin:1.5rem 0rem;
            font-size: 1.8rem;
            color: $blue;
        }
        hr{
            margin-bottom: 1.0rem;
        }
        form{
            margin:0rem 0.8rem;
            margin-top: 1.5rem;
            margin-bottom:1.5rem;
            i{
                    position: absolute;
                    padding: 0.75rem 0.6rem;
                    display: inline-block;
                    left:auto;
                    right:2rem;
                    bottom: auto;
                    margin-top: 0.5rem;
                    font-size: 2rem;
                    color: $light_gray;
                    
            }
            .gridrow{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 0.3rem;
            }
            input{
                padding:1.0rem 1rem;
                margin-bottom: 0.4rem;
                margin-top: .4rem;
                border:1px solid $light_gray;
                

                
            }

            //Signup button
            
            .btn{
                margin-top: 0.2rem;
                margin-bottom: 2rem;
                
                .btn_darkblue{
                    width: 100%;
                    border-radius: 0rem;
                    padding: 1.3rem 0rem;
                    font-weight: 600;
                    letter-spacing: .3rem;
                }
                i{
                    color: $white;
                    font-size:1.2rem;
                    margin-top: 0.5rem;
                }
            }
            
        }
        p{
            font-size: 1rem;
            font-weight: 600;
            
            span{
                color: $blue;
            }
            margin:0rem 0rem 1rem 0rem;
        }
    }
    p{
        margin: 3rem 1.5rem 3rem 1.5rem;
        font-weight: 600;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px)
{
    /*header*/
    header{
        padding: 1.0rem 1rem;    
    }
    /*section*/ 
    .firstsec{
        padding-top:9rem;
        padding-left: 8.5rem;
        padding-right: 8.5rem;
        .signup{
            padding:0rem 0rem;
            form{
                i{
                    right:10rem;
                }
            }
        }
        p{
            margin: 15rem 3rem 2rem 3rem;
            font-weight: 600;
            font-size: 1rem;
        }
    }
    

}

@media only screen and (min-width:1024px)
{
    /*header*/
    header{
        padding: 2rem 0.8rem;    
    }
    .head1{
        display: none;
    }
    .head2{
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
    }
    .head2 img{
        margin-left:6rem;
        width:10rem;
        height: 100%;
        margin-top: 0rem;
        padding:1.0rem 0rem;
        
    }
    .head2 ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.9rem;
        margin-right: 0.5rem;
        margin-left: auto;
        
    }
    .head2 ul li{
        color: black;
        
        margin-left: 1rem;
        font-size: 1.1rem;
        
    }
    .head2 div{
        display: flex;
        margin-left: 2rem;
    }
    .head2 div button{
        font-size: 1rem;
    }
    .head2 .btn_darkblue{
        margin-top:0rem;
        margin-right: 2.0rem;
        border-radius: 0.5rem;
        padding:0.9rem 2rem;
        margin-left: 0.5rem;
    }
    .head2 .btn_white{
        padding:0.9rem 2rem;
        border-color: black;
        color: black;
    }
    /*section*/
    .firstsec{
        padding-top:2rem;
        padding-left: 20rem;
        padding-right: 20rem;
        .signup{
            h2{
            text-align: center;  
            }
            form{
                i{
                    right: 22rem;
                    margin-top:0.8rem;
                }
                .btn{
                    i{
                        margin-top: 0.6rem;
                    }
                }
            }
            
        }
    }
}

